$wid : 1280px;
@import "./reset";
@import "./mixin";

.align {
    display: flex !important;
  }
  .align.column {
    flex-direction: column;
  }
  .align.row {
    flex-direction: row;
  }
  .align.left {
    justify-content: flex-start;
  }
  .align.right {
    justify-content: flex-end;
  }
  .align.center {
    justify-content: center;
  }
  .align.both {
    justify-content: space-between;
  }
  .align.triple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .align.triple > :nth-child(1) {
    justify-self: start;
  }
  .align.triple > :nth-child(2) {
    justify-self: center;
    white-space: nowrap;
  }
  .align.triple > :nth-child(3) {
    justify-self: right;
  }
  .align.vt {
    align-items: flex-start;
  }
  .align.vm {
    align-items: center;
  }
  .align.vb {
    align-items: flex-end;
  }
.bg-f8 { background: #f8f8f8 }

body, html{
    @include reset;
    font-family : 'Pretendard',sans-serif;
}

.font-title {
    @include font(900, 90px);
    color: #F60035;
    width: 100%;
    margin: 100px auto 0 auto;
    text-align: center;

  }
.font-sub {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    text-align: center;
    &.text1 { 
        font-size: 32px;
        color: #fff;
        font-weight: 600;
    }
}
  
// p {white-space: pre-line;}
a {text-decoration: none; color:#000;}
*{box-sizing: border-box}

body {position: relative;}
.w100 { width: 100%; }
.wrap {
    width: 100%;
}
.m0auto { margin: 0 auto; }
.space { padding: 0 40px; }
.space2 { padding: 164px 40px; }
.max-width { max-width: 1200px; }
.wrap2 {
    height: 100vh;
    display: flex;
    align-items: center;
}
.m-video {
    width: 100%;
    position: absolute;
    z-index: -1;
    > video {
      width: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
    }
}

.brave {
    position: relative;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.title {
    width: $wid;
    margin: 120px auto 0 auto;
    color: #fe5e00;
    font-size: 70px;
    font-style: oblique;
    font-weight: 600;
}
.atc-con{
    width: 100%;
    margin: 20px auto;
    .text1 {
        color: #333;
        font-size: 22px;
        font-weight: 800;
        line-height: 150%; 
    }
    .text2 {
        color: #333;
        font-size: 18px;
        font-weight: 600;
        line-height: 160%; 
    }
    .text3 {
        color: #000;
        font-size: 40px;
        font-weight: 600;
        line-height: 150%; 
    }
    >p{
        // width: 65%;
        margin: 30px auto;
        line-height: 150%;
        text-align: center;

        
        &.text-left {
            text-align: left;
        }
        &.w100 { width: 100%; }
    }

}
.atc-con-list{
    margin: 30px auto;
    @include flex(space-between,center){}
}
.who{
    margin: 50px auto;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    gap: 30px 20px;
    
    .who-list {
        text-align: center;
        @include font(900,15px);
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 40px;
        p {
            span {
                font-size: 40px;
                font-weight: 900;
            }
        }
        >p:nth-of-type(2){
            @include font(900, 70px);
            color: #F60035;
            >code {
                font-family: inherit;
                animation-duration: 1s;
                animation-delay: 0s;
            }
        }
    }
}

.img-move{
    overflow-x: hidden;
    >figure{
         width: 100%;
         display: flex;
         >img{
             animation-name: ani-1;
             animation-duration: 30s;
             animation-iteration-count: infinite;
             animation-timing-function: linear;
         }
         
         @keyframes ani-1{
             0%{transform: translateX(0%);} 
             100%{transform: translateX(-100%) ;}
          }
     }
}
.move-wrap {
    position: relative;
    .img-move {
        width: 192px;
        position: absolute;
        top: -100px;
        right: 0;
        transform: scaleX(-1);
    }
    .img-move3 {
        width: 169px;
        position: absolute;
        top: 0;
        right: 30%;
    }
}
.img-move2{
    position: relative;
    overflow-x: hidden;
    padding-top: 300px;
    .img-move { 
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        width: 195px;
    }
    >figure{
         width: 100%;
         display: flex;
         >img{
             animation-name: ani-2;
             animation-duration: 15s;
             animation-iteration-count: infinite;
             animation-timing-function: linear;
         }
         
         @keyframes ani-2{
             0%{transform: translateX(30%);} 
             100%{transform: translateX(-100%) ;}
          }
     }
}
.no-animation {
    animation: none;
}
.img-move3{
    overflow-x: hidden;
    >figure{
         width: 100%;
         display: flex;
         >img{
             animation-name: ani-3;
             animation-duration: 15s;
             animation-iteration-count: infinite;
             animation-timing-function: linear;
         }
         
         @keyframes ani-3{
             0%{transform: translateX(50%);} 
             100%{transform: translateX(-100%) ;}
          }
     }
}

.about-v {
    width: $wid;
    margin: 0 auto;
    >video{
        width: 100%;
        object-fit: cover;
    }
}

.values{
    width: 33%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    white-space : pre-line;
    margin-bottom: 50px;

    >b{
        width: 100%;
        @include font(800,30px);
    }
    >p{
        width: 100%;
        color: #000000;
        @include font(500,15px);
        padding: 10px 0;
        line-height: 1.7
    }
}

.jour-row{
    height: 100%;
    position: absolute;
    top: 0;
    left: 100px;
    width: 0;
    border: 2px solid #f600358a;
    figure {
        position: sticky;
        top:400px;
        height: 150px;
        left: 50%;
        z-index: 2;

        >img {
            width: 130px;
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 999;
        }

    }
}
.col1{
    @include flex(space-between,end){flex-direction: column;}
}

.jour-col{margin-top: 150px;}

.j-year{
    color: #fe5e00;
    @include font(800, 50px);
    margin-bottom: 20px;
}
.j-month{
    color: #ff8200;
    @include font(600, 40px);
    margin-bottom: 10px;
}

.j-event {@include font(600, 15px); margin-bottom: 20px;}
.j-event2 {@include font(400, 15px); margin-bottom: 10px;}
.j-img {width: 100%; margin: 10px 0;}

.j-circle {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color:#fe5e00;
    border-radius: 50px;    
}
.circle2{top : 11.5%;}
.bt-black {
    width: $wid;
    margin: 0 auto;
    @include flex(center, center){};
    @include font(600, 16px);
    >a {
      background-color: black;
      color: white;
      padding: 15px 25px;
      border-radius: 100px;
      &:hover{background-color: #fe5e00;}
    }
  } 

.list-type1 {
    // width: $wid;
    margin: 0 auto;
    padding-top: 100px;
    li {
        display: flex;
        gap: 80px;
        align-items: start;
        // margin-bottom: 80px;
        border-bottom: 1px solid #F60035;
        padding-top: 50px;
        padding-bottom: 50px;
        .year {
            color:#F60035;
            font-size: 50px;
            font-style: normal;
            font-weight: 900;
        }
        .info {
            color: #000;
            font-size: 40px;
            font-weight: 600;
            line-height: 150%;
            p {
                font-weight: 400;
            }
        }
    }
}
.join-wrap {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    .phrase {
        color: #F60035;
        font-family: 'Pretendard';
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        padding-bottom: 12px;
    }
    h2 {
        color: #222;
        text-align: center;
        font-size: 36px;
        font-weight: 800;
        line-height: 30px; 
        letter-spacing: 0.32px;
        padding-bottom: 56px;
    }
    ul {
        li {
            + li {
                padding-top: 16px;
            }
            .label {
                display: block;
                color: var(--Text-text-middle-emphasis, #626262);
                font-size: 15px;
                font-weight: 600;
                line-height: 17px; 
                padding-bottom: 8px;
            }
            input:not([type="checkbox"]):not([type="radio"]) {
                width: 100%;
                padding: 0px 16px;
                height: 50px;
                color: #222;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: -0.2px;
                border: 1px solid #cfcfcf;
                border-radius: 4px;
                &::placeholder {
                    color: #BEBEBE;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0.2px;
                }
                &:focus {
                    outline: 2px solid #F60035;
                }
            }
            select {
                width: 100%;
                height: 50px;
                color: #222;
                font-size: 16px;
                font-weight: 500;
                border: 1px solid #cfcfcf;
                border-radius: 4px;
                padding: 0 16px;
                appearance: none;
                background: url(../img/main/ico_down_gray.svg) no-repeat right 12px top 50% / 24px;
            }
            .btn-sub {
                width: 100px;
                height: 50px;
                background: #FEE5EB;
                color: #F60035;
                text-align: center;
                font-size: 17px;
                font-weight: 700;
                border: 0;
                margin-left: 10px;
                white-space: nowrap;
                border-radius: 4px;
            }

            &.border-bottom {
                border-bottom: 1px solid #cfcfcf;
            }
        }
    }
    .btn-main {
        background: #F60035;
        color: #fff;
        width: 100%;
        border: 0;
        height: 50px;border-radius: 4px;
        color: #fff;
        font-size: 17px;
        font-weight: 700;
    }
}

.form__radio-input {
    display: none;
  }

  .form__radio-label {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .8rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--gray62);
  }

  .form__radio-button {
    height: 20px;
    width: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transform: translateY(-2px);
    background: var(--white);

    &::after {
      content: "";
      display: block;
      height: 10px;
      width: 10px;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transition: opacity 0.1s;
      transform: translate(-50%, -50%);
      background-color: #F60035;
      opacity: 0;
    }
  }
  .form__radio-label-text {
    color: #626262;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px; 
  }

  .form__radio-input:checked + .form__radio-label .form__radio-button:after {
    opacity: 1;
  }
  .link {
    text-decoration: underline;
    color: #626262;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;    
    &.red {
        color: #F60035;
    }
  }
.banner-main {
    width: 100%;
    max-height: 800px;
    margin-top: -120px;
    img {
        width: 100%;
    }
}
.map {
    margin-top: 396px;
    width: 100%;
    height: 1180px;
    background:  #111 url(../img/main/img_map.png) no-repeat 0 100% / 100%;
}
.leaflet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 230px;
    align-items: end;
    .highlight { 
        width: 100%;        
        background: #fff;
        padding: 6px 20px;
        &.pd20 {
            padding: 20px;
        }
        &.inline {
            display: inline;
        }
        li { 
            + li {
                margin-top: 30px;
            }
        }
    }
    .spot {
        // width: 100%;
        img { 
            display: block;
            width: 100%;
        }
        
    }
    .post-it {
        position: relative;
        // height: 520px;
        // background:  url(../img/main/img_postit.png) no-repeat 0 0 / 560px;
        .bg {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            width: 100%;
        }
        &::before {
            position: absolute;
        }
        &::after {
            position: absolute;
        }
        .inner {
            padding: 40px 38px 68px 86px;
        }
    }
    .text1 {
        color: #F60035;
        font-size: 24px;
        font-weight: 800;
        line-height: 155%; 
        white-space: nowrap;
        line-height: 155%;
    }
    .text2 {
        color: #000;
        font-size: 20px;
        font-weight: 600;
        line-height: 155%; 
        white-space: nowrap;
        line-height: 155%;
        span {
            color: #000;
            font-size: 16px;
            font-weight: 500;
            line-height: 155%; 
            padding-right: 5px;
        }
    }
    .text3 {
        color: #000;
        font-size: 20px;
        font-weight: 400;
        line-height: 155%; 
        white-space: nowrap;
        line-height: 155%;
    }
}
.btn-main {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px) ;
    max-width: 740px;
    padding: 0 30px;
    height: 80px;
    border-radius: 50px;
    background: linear-gradient(268deg, #FF6753 -3.66%, #F60035 101.98%);
    box-shadow: 2px 6px 15px 0px rgba(246, 0, 53, 0.21);
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    &.active { 
        display: block;
        opacity: 1;
    }
}
.go-top-btn { 
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    // padding: 10px 20px;
    background: url(../img/main/ico_gotop.svg) no-repeat 0 0 / contain;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
    transition: opacity 0.3s;
    &.show {
        display: block;
    }
}


.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.mt10 { margin-top: 10px; }
.mt230 { margin-top: 230px; }
.mt300 { margin-top: 300px; }
.mt300 { margin-top: 420px; }
.ml4 {
    margin-left: 4px;
}
.ml16 {
    margin-left: 16px;
}
.ml24 {
    margin-left: 24px;
}
.ml30 {
    margin-left: 30px;
}
.mr6 {
    margin-right: 6px;
}
.mt16 {
    margin-top: 16px;
}
.mb10 {
    margin-bottom: 10px;
}
.pt26 {
    padding-top: 26px;
}
.pt35 {
    padding-top: 35px;
}
.pt66 {
    padding-top: 66px;
}
.pt100 {
    padding-top: 100px;
}
.pt300 {
    padding-top: 300px;
}
.pt400 {
    padding-top: 400px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb12 {
    padding-bottom: 12px;
}
.pb24 {
    padding-bottom: 24px;
}
.pb32 {
    padding-bottom: 32px;
}
.pb35 {
    padding-bottom: 35px;
}
.pl48 { 
    padding-left: 48px;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

  @import "./m_about";
