@import url("./reset.css");

@mixin reset {margin:0;padding:0;}
@mixin flex($x, $y){ 
    display: flex;
    justify-content: $x;
    align-items: $y;
    @content;
}
@mixin font($z,$d) {font-weight: $z;font-size: $d;}

$wid : 1280px;

.hd-zone{
    height: 60px;
    background-color: #fe5e00;
}

.font-title {
    font-family: 'acumin-pro-condensed';
    @include font(900, 90px);
    font-style: italic;
    color: #fe5e00;
    width: $wid;
    margin: 100px auto 50px auto;
  }
.in {
    width: $wid;
    margin: 0 auto;
    @include flex(space-between,center){};
    >.in-date{
        width: 300px; text-align: right;
        @include font(400, 20px);
    }
}
.in-title {
    @include font(600, 50px);
    width: $wid;
    margin: 20px auto;
}
.invest1 {
    width: $wid;
    margin: 30px auto;

}
.in-border{
    height: 250px;
    border: 1px solid lightgray;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    @include font(600, 25px);
    >div:nth-of-type(2){color: #fe5e00;}
    >p:nth-of-type(1){ 
        @include font(500, 70px);
        position: absolute;
        right: 3%;
        bottom: 35%;
        >code {
            font-family: inherit;
        }
    }
    >p:nth-of-type(2){
        color:#285fd6;
        @include font(600, 20px);
        position: absolute;
        right: 3%;
        bottom: 15%;
        &::before{
            content: 'arrow_drop_down';
            font-family: 'Material Symbols Outlined';
            vertical-align: middle;
            font-size: 30px;
          }
    }
    >img{
        position: absolute;
        right: 10%;
        bottom: 15%;
    }
}
.in-row{
    width: $wid;
    margin: 50px auto;
    @include flex(space-between, center);
}
.invest2 {
    width: 30%;
    @include flex(space-between,flex-start){flex-direction: column;}
    &:hover{
        box-shadow: 0px 10px 10px #999999;
        transform: translateY(-7%);
        transition: 0.5s;
    }
    

}
.table{
    width: $wid;
    margin: 0 auto;
    @include flex (flex-start, center){}
    gap : 3%;   
}
.table1 {
    width: 48.5%;
}
.table-title {
    @include font(600, 50px);
    margin: 50px auto;
}
.table-border {
    // width: $wid/2;
    width: 100%;
    margin: 50px 0;
  

    th {
        text-align: start;
        padding: 20px 20px;
        background-color: #fe5e00;
        color: white;
    }
    td {
        border: 1px solid rgb(197, 197, 197);
        border-width: 0 0 1px 0;
        padding: 20px 20px;
        transition: 0.5s;
        &:hover{color: #fe5e00; transition: 0.5s;}
        &.td-line{
            border: 3px solid rgb(88, 88, 88);
            border-width: 0 0 3px 0;
        }
    }
}

.bt-black {
  width: $wid;
  margin: 20px auto;
  @include font(600, 16px);
  >a {
    background-color: black;
    color: white;
    padding: 15px 25px;
    border-radius: 100px;
    &::after{
      content: 'arrow_forward_ios';
      font-family: 'Material Symbols Outlined';
      vertical-align: middle;
      margin: 0 0 0 5px;
    }
    &:hover{background-color: #fe5e00;}
  }
}

@import "./m_investors";