@media screen and (max-width: 1200px) {
  @import "_mixin";
  
  * { box-sizing: border-box; }
  .leaflet { 
    display: block;
    .spot { 
      img { 
        max-width: 700px;
        margin: 0 auto;
      }
    }
    .post-it { 
      background: url(../img/main/img_postit2.png);
      padding: 40px;
      margin-top: 50px;
      .inner {
        padding: 0;
      }
      .bg { 
        display: none;
      }
    }
  }
  footer {
    position: relative;
    margin-top: 0;
    width: 100%;
    .inner {
      padding: 40px 16px;
      .ft1 {
        > div{
          &.align {
            display: block !important;
          }
          .ml24 {
            margin-left: 0;
          }
        }
        &.align {
          display: block !important;
        }
      }
      .ft2 {
        padding-bottom: 26px;
        > div > .align {
          display: block !important;
          &.pb10 {
            padding-bottom: 0;
          }
          p:nth-child(1) {
            margin-left: 0 !important;

          }
          > .align {
            padding-bottom: 8px;
          }

        }
        &.align {
          display: block !important;
        }
        .tel {
          text-align: left;
          padding-top: 20px;
        }
      }
      .ft3 {
        p {
          font-size: 13px;
        }
        &.align {
          flex-direction: column;
          flex-direction: column-reverse;
          align-items: start;
        }
        .sns {
          padding-bottom: 10px;
        }
      }
    }
    .text1 {
      font-size: 13px;
    }
    .text2 {
      font-size: 13px;
    } 

  }
  .img-move2 .img-move { display: none;}
.move-wrap .img-move3 { display: none; }
.spot {
  .img-move {
      display: none;
  }
  
}

} /*1200 end*/

@media screen and (max-width: 720px) {
  @import "_mixin";
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    height: 60px;

    .nav-b {

        @include flex(space-between, flex-start) {}

        margin: 0 auto;
        padding: 12px 12px;
        z-index: 100;
        position: relative;
        align-items: center;
        height: 60px;

        >a {
            @include font(600, 25px);
            color: white;
            font-size: 20px;
            padding: 8px 10px !important;
        }

        >div {
            color: white;
            @include font(900, 1.5rem);
        }

        >ul {
            @include flex(space-between, flex-start) {}

            padding: 0;

            .list {
              display: none;
                width: 120px;
                list-style-type: none;
                padding: 7px 0 0 0;
                color: white;

                >a {
                    @include font(600, 14px);
                    color: white;
                    text-align: center;
                }
            }

        }
    }
}
.brave {
  padding: 0 16px;
  img {
    width: 200px;
  }
  button {
    height: 40px;
    max-width: 500px;
    height: 60px;
    border-radius: 40px;
    font-size: 18px;
  }
}
.font-title {
  font-size: 32px !important;
  margin: 40px auto 0 auto;
}
.atc-con {
  .text1 {
    font-size: 18px !important;
  }
  .text2 {
    font-size: 15px !important;
  }
  .text3 { 
    font-size: 20px;
  }
  >p {
    margin: 10px auto !important;
  }
}
.font-sub { 
  font-size: 20px;

}
.who { 
  width: 100%;
  grid-template-columns: 1fr;
  gap: 10px;
}
.who .who-list { padding: 16px; }
.who .who-list>p:nth-of-type(2) { font-size: 30px; }
.who .who-list p span { 
  font-size: 16px;
}
.img-move {
  img { 
    width: 150%;
  }
}

.img-move2 { padding-top: 0; }
.img-move2>figure>img { width: 150%; }
.img-move3>figure>img { width: 150%; }
.banner-main { 
  margin-top: -30px;
}
.move-wrap .img-move { display: none; }
.space { padding: 0 16px; }
.space2 { padding: 20px 16px; }
.list-type1 { 
  padding-top: 0; 
  li {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;    .year {
      font-size: 20px;
    }
    .info {
      font-size: 20px;
      line-height: 100%;
      p {
        font-size: 12px;
      }
      &.pb24 { 
        padding-bottom: 10px;
      }
    }
  }
}
.map { 
  margin-top: 40px;
  height: 400px;
}
.leaflet { 
  display: block;
  padding-bottom: 40px;
  
  .post-it {
    height: auto;
    margin-top: 20px;
    background: #EBEBEB;
    padding: 16px ;
  }
  .text1 {
    font-size: 14px;
  }
  .text2 { 
    font-size: 12px;
    white-space: wrap;
    span { 
      font-size: 10px;
    }
  }
  .text3 {
    white-space: wrap;
    font-size: 12px;
    margin-left: 10px;
  }
  .highlight {
    &.pd20 {
      padding: 10px;
    }
  }
}
.banner-wrap {
  &.pt400 {
    padding-top: 100px;
  }
}
.guide {
  .pt100 {
    padding-top: 20px;
  }
}
.btn-main {
  bottom: 40px;
  transform: translateX(-50%);
  padding: 0 30px;
  height: 60px;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  z-index: 0;
}
footer { 
  margin-top: 0;
  h1 {
    img { width: 70px;}
  }
}
footer .tel p { font-size: 16px;}
footer .tel a { 
  font-size: 20px;
}

header.active{
    background-color: #F60035;
}
.btn-login {
  display: none;
  &.align {
    display: none !important;
  }
}
.burger-ic { display: block; }

}

@media screen and (max-width: 500px) {
  .btn-main {
    height: 40px;
    font-size: 16px;
  }
  .atc-con {
    // .text3 {
      br { display: none; }
    // }
  }
}


























// @media screen and (max-width: 720px) {
//   @import "_mixin";

//   * {
//     box-sizing: border-box;
//   }

//   $wid : 100%;


//   header {
//     position: fixed;
//     left: 0;
//     top: 0;
//     width: 100%;
//     z-index: 9999;

//     .nav-b {
//       width: $wid;

//       @include flex(space-between, center) {}

//       margin: 0 auto;
//       padding: 12px 0;

//       >a {
//         @include font(600, 25px);
//         color: white;
//       }

//       >div {
//         color: white;
//         @include font(900, 1.5rem);
//       }

//       >ul {
//         @include flex(space-between, center) {}
//         display: none;
//         padding: 0;

//         >li {
//           list-style-type: none;
//           padding-left: 10px;
//           color: white;

//           >a {
//             @include font(600, 14px);
//             color: white;
//           }

//           .burger-ic {
//             list-style-type: none;
//             padding-left: 10px;
//             color: white;
//           }
//         }
//       }
//     }
//   }
  

// .subm, .list3 {
//     display: none;
// }


//   footer {
//     position: relative;
//     margin-top: 120px;
//     width: 100%;
//     background-color: #fe5e00;

//     .ft {
//       color: white;
//       width: 90%;
//       margin: 0 auto;
//     }

//     .ft-top {
//       width: $wid;
//       margin: 0px auto;
      
//       @include flex(space-between, baseline) {flex-direction: column;}

//       >div:nth-of-type(1) {
//           @include flex(space-between, start) {
//               flex-direction: column;
//           }
//           order: 2;
//           font-size: 20px;
//       }

//       .ft-toggle {
//           width: 100%;
//           display: flex;
//           flex-direction:column;
//           justify-content: flex-end;
//           margin-bottom: 30px;
          
//           .material-symbols-outlined:after {
//             content: 'expand_more';
//             font-family: 'Material Symbols Outlined';
//             font-size: 20px;
//           }
//         }
//   }
//   .ft-t-row{
     
//       width: 100%;
//       border-bottom: 2px solid white;
//       @include flex(space-between, flex-end) {} 
//       >p{
//           @include font(600, 25px);
//           align-items: center;
//           position: relative;    
//           display: block;
//           padding: 10px 0;
//       }
//       >p.active{
//           @include font(600, 25px);
//           align-items: center;
//           position: relative;    
//       }
//   }
//   .ft-t-column {
//       position: relative;
//       top: 0;
//       @include flex(space-between, flex-start) {flex-direction:column}
//       >div{
//           padding: 10px 0;
//           border-bottom: 2px solid white;
//           position: absolute;
//           top: 0;
//           z-index: 2;
//           background-color:#fe5e00;
//           display: none;
//           line-height: 1.5;
//           width: $wid;
          
//           >a{
//               color: white;
//           @include font(600, 20px);
//           @include flex(space-between, flex-start) {flex-direction:column}
//           }
//       }
//   }
 

//     .ft-list {
//       width: 100%;
//       display: flex;
//       flex-wrap: wrap;
//       gap: 0;
//       flex : block;
      
//       >li {
//         padding-right: 10px;
//         @include font(400, 20px);
//         line-height: 1.5;
//         margin: 0;
//       }
//     }
//     .ft-arrow::after {
//       content: 'arrow_outward';
//       font-family: 'Material Symbols Outlined';
//       vertical-align: middle;
//       font-size: 18px;
//       margin-left: 5px;
//     }

     

//     .ft-logo {
//       width: $wid;
//       margin: 0 auto;

//       >svg {
//         width: 80%;
//         padding: 120px 0 20px 0;
//       }
//     }

//     .ft-last {
//       width: $wid;
//       margin: 0px auto;
//     }

//     .ft-sns {
//       @include flex(space-between, center) {}

//       width: $wid;
//       margin: 10px auto;

//       >ul {
//         @include flex(space-between, center) {
//           gap: 30px;
//         }
//       }
//     }
//   }


// }