@charset "UTF-8";
@media screen and (min-width: 721px) and (max-width: 1020px) {
  p {
    white-space: pre-line;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  * {
    box-sizing: border-box;
  }
  body, html {
    font-family: "Pretendard", sans-serif;
  }
  body {
    position: relative;
  }
  .font-title {
    font-family: "acumin-pro-condensed";
    font-weight: 900;
    font-size: 90px;
    font-style: italic;
    color: #fe5e00;
    width: 800px;
    margin: 100px auto 0 auto;
  }
  .m-video {
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .m-video > video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    left: 0;
    top: 0;
  }
  .brave {
    margin: 0 auto;
    width: 800px;
    height: 850px;
    padding: 500px 0 100px 0;
    line-height: 0.5;
  }
  .brave > p:nth-of-type(1) {
    line-height: 1;
    font-family: "acumin-pro-condensed";
    font-weight: 900;
    font-size: 120px;
    font-style: italic;
    text-shadow: 3px 3px 0px #fe5e00;
    color: white;
  }
  .brave > p:nth-of-type(2) {
    line-height: 1;
    font-family: "acumin-pro-condensed";
    font-weight: 900;
    font-size: 120px;
    font-style: italic;
    color: #fe5e00;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto 30px auto;
  }
  .top > div > p {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    font-weight: 600;
    font-size: 27px;
    margin-top: 15px;
    width: 80%;
    word-break: keep-all;
  }
  .top > div > p:nth-of-type(2) {
    color: #fe5e00;
    width: 60%;
  }
  .top > img {
    width: 50%;
    animation: rhkdus 1s infinite alternate;
    transition: 0.5s;
  }
  @keyframes rhkdus {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(5%);
    }
  }
  .bt-black {
    width: 800px;
    margin: 20px auto;
    font-weight: 600;
    font-size: 16px;
  }
  .bt-black > a {
    background-color: black;
    color: white;
    padding: 15px 25px;
    border-radius: 100px;
  }
  .bt-black > a::after {
    content: "arrow_forward_ios";
    font-family: "Material Symbols Outlined";
    vertical-align: middle;
    margin: 0 0 0 5px;
  }
  .bt-black > a:hover {
    background-color: #fe5e00;
  }
  .games > figure {
    width: 800px;
    margin: 40px auto;
    position: relative;
  }
  .games > figure > video {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 30px;
    position: relative;
  }
  .games > figure > figcaption {
    position: absolute;
    left: 5%;
    top: 15%;
    color: white;
    text-align: center;
  }
  .games > figure > figcaption > img {
    width: 80%;
  }
  .games > figure > figcaption > p {
    text-shadow: 2px 2px 10px #393939;
  }
  .games > figure > figcaption > p:nth-of-type(1) {
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
  }
  .games > figure > figcaption > p:nth-of-type(2) {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
  }
  .games > figure > figcaption > p:nth-of-type(3) {
    font-weight: 400;
    font-size: 15px;
  }
  .coming-soon {
    position: absolute;
    right: -2%;
    top: 10%;
    background-color: #fe5e00;
    padding: 15px 20px;
    transform: skew(-10deg);
  }
  .coming-soon > a {
    color: white;
    transform: skew(10deg);
  }
  .coming-soon > a::after {
    content: "arrow_outward";
    font-family: "Material Symbols Outlined";
    vertical-align: middle;
    font-size: 10px;
    margin-left: 5px;
  }
  .studios {
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
  }
  .studios .studios-a {
    width: 100%;
    flex-grow: 1;
    border-radius: 20px;
    text-align: center;
  }
  .studios .studios-a:nth-of-type(1) {
    background-color: #ffe7c4;
  }
  .studios .studios-a:nth-of-type(2) {
    background-color: #FF4347;
  }
  .studios .studios-a:nth-of-type(3) {
    background-color: #202121;
  }
  .studios .studios-a:hover {
    box-shadow: 0px 10px 10px #999999;
    transform: translateY(-7%);
    transition: 0.5s;
  }
  .studios-it > img {
    width: 150px;
    height: 150px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0;
  }
  .studios-it > img:nth-of-type(2) {
    width: 300px;
  }
  .st-fc > b {
    padding: 20px;
    font-size: 20px;
  }
  .st-fc > p {
    padding: 0 20px;
    font-size: 15px;
    line-height: 1.5;
  }
  .text-white {
    color: white;
  }
  .line-brown {
    height: 0;
    margin: 0 20px;
    border-top: 0.5px solid brown;
  }
  .line-white {
    height: 0;
    margin: 0 20px;
    border-top: 0.5px solid white;
  }
  .stories {
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .stories > div {
    width: 48%;
    height: 40vw;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    font-weight: 500;
    font-size: 15px;
    background: -80px/cover;
    margin-bottom: 40px;
  }
  .stories > div:hover {
    box-shadow: 0px 10px 10px #999999;
    transform: translateY(-7%);
    transition: 0.5s;
  }
  .stories > div:nth-of-type(1) {
    background-image: url(../img/main/16.\ 아워스토리즈1.jpg);
  }
  .stories > div:nth-of-type(2) {
    background-image: url(../img/main/17.\ 아워스토리즈2.jpg);
  }
  .stories > div:nth-of-type(3) {
    background-image: url(../img/main/18.\ 아워스토리즈3.jpg);
  }
  .stories > div:nth-of-type(4) {
    background-image: url(../img/main/19.\ 아워스토리즈4.jpg);
  }
  .stories > div .stories-title {
    padding: 0 20px;
    color: white;
    line-height: 1.5;
    font-weight: 500;
    font-size: 17px;
  }
  .stories > div .stories-tag {
    width: 70px;
    background-color: #ff8200;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    margin: 20px;
  }
  .banner {
    width: 800px;
    margin: 100px auto;
    background-color: #f8e8da;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .banner .banner-col {
    width: 100%;
    padding: 50px 60px;
  }
  .banner > img {
    position: absolute;
    top: -10%;
    right: 0%;
  }
  .b-title {
    font-weight: 900;
    font-size: 60px;
    margin: 0 0 30px 0;
    line-height: 0.9;
  }
}
@media screen and (max-width: 720px) {
  p {
    white-space: pre-line;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  * {
    box-sizing: border-box;
  }
  body, html {
    font-family: "Pretendard", sans-serif;
  }
  body {
    position: relative;
  }
  .font-title {
    font-family: "acumin-pro-condensed";
    font-weight: 900;
    font-size: 90px;
    font-style: italic;
    color: #fe5e00;
    width: 500px;
    margin: 100px auto 0 auto;
  }
  .m-video {
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .m-video > video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    left: 0;
    top: 0;
  }
  .brave {
    margin: 0 auto;
    width: 500px;
    height: 850px;
    padding: 500px 0 100px 0;
    line-height: 0.5;
  }
  .brave > p:nth-of-type(1) {
    line-height: 1;
    font-family: "acumin-pro-condensed";
    font-weight: 900;
    font-size: 100px;
    font-style: italic;
    text-shadow: 3px 3px 0px #fe5e00;
    color: white;
  }
  .brave > p:nth-of-type(2) {
    line-height: 1;
    font-family: "acumin-pro-condensed";
    font-weight: 900;
    font-size: 100px;
    font-style: italic;
    color: #fe5e00;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    width: 500px;
    margin: 0 auto 30px auto;
  }
  .top > div > p {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    font-weight: 600;
    font-size: 35px;
    margin-top: 15px;
    width: 100%;
    word-break: keep-all;
    text-align: center;
  }
  .top > div > p:nth-of-type(2) {
    color: #fe5e00;
  }
  .top > img {
    width: 100%;
    animation: rhkdus 1s infinite alternate;
    transition: 0.5s;
  }
  @keyframes rhkdus {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(5%);
    }
  }
  .news {
    width: 100%;
    height: 420px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 20px;
    margin: 30px auto;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translateY(0%);
  }
  @keyframes ani-1 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .news:hover {
    box-shadow: 0px 10px 10px #999999;
    transform: translateY(-7%);
    transition: 0.5s;
  }
  .news .news-img {
    width: 100%;
    height: 210px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 18px 18px 0 0;
  }
  .news .news-cap {
    height: 220px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
  }
  .news .news-cap .news-p {
    width: 300px;
    font-weight: 600;
    font-size: 16px;
  }
  .news .news-cap .news-p:nth-of-type(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .bt-black {
    width: 500px;
    margin: 20px auto;
    font-weight: 600;
    font-size: 16px;
  }
  .bt-black > a {
    background-color: black;
    color: white;
    padding: 15px 25px;
    border-radius: 100px;
  }
  .bt-black > a::after {
    content: "arrow_forward_ios";
    font-family: "Material Symbols Outlined";
    vertical-align: middle;
    margin: 0 0 0 5px;
  }
  .bt-black > a:hover {
    background-color: #fe5e00;
  }
  .games > figure {
    width: 500px;
    margin: 40px auto;
    position: relative;
  }
  .games > figure > video {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 30px;
    position: relative;
  }
  .games > figure > figcaption {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
  }
  .games > figure > figcaption > img {
    width: 80%;
  }
  .games > figure > figcaption > p {
    text-shadow: 2px 2px 10px #393939;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
  }
  .games > figure > figcaption > p:nth-of-type(1) {
    font-weight: 600;
    font-size: 30px;
    margin: 10px;
  }
  .coming-soon {
    position: absolute;
    right: -2%;
    top: 10%;
    background-color: #fe5e00;
    padding: 15px 20px;
    transform: skew(-10deg);
  }
  .coming-soon > a {
    color: white;
    transform: skew(10deg);
  }
  .coming-soon > a::after {
    content: "arrow_outward";
    font-family: "Material Symbols Outlined";
    vertical-align: middle;
    font-size: 10px;
    margin-left: 5px;
  }
  .studios {
    width: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .studios .studios-a {
    width: 100%;
    height: 1000px;
    height: 350px;
    border-radius: 20px;
    text-align: center;
  }
  .studios .studios-a:nth-of-type(1) {
    background-color: #ffe7c4;
  }
  .studios .studios-a:nth-of-type(2) {
    background-color: #FF4347;
  }
  .studios .studios-a:nth-of-type(3) {
    background-color: #202121;
  }
  .studios .studios-a:hover {
    box-shadow: 0px 10px 10px #999999;
    transform: translateY(-7%);
    transition: 0.5s;
  }
  .studios-it > img {
    width: 150px;
    height: 150px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0;
  }
  .studios-it > img:nth-of-type(2) {
    width: 300px;
  }
  .st-fc > b {
    padding-top: 20px;
    font-size: 25px;
  }
  .st-fc > p {
    padding: 0 0 150px 0;
    font-size: 20px;
    line-height: 1.5;
    width: 70%;
    margin: 0 auto;
  }
  .text-white {
    color: white;
  }
  .line-brown {
    height: 0;
    margin: 0 20px;
    border-top: 0.5px solid brown;
  }
  .line-white {
    height: 0;
    margin: 0 20px;
    border-top: 0.5px solid white;
  }
  .stories {
    width: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stories > div {
    width: 100%;
    height: 55vh;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
    background: -80px/cover;
    margin-bottom: 40px;
  }
  .stories > div:hover {
    box-shadow: 0px 10px 10px #999999;
    transform: translateY(-7%);
    transition: 0.5s;
  }
  .stories > div:nth-of-type(1) {
    background-image: url(../img/main/16.\ 아워스토리즈1.jpg);
  }
  .stories > div:nth-of-type(2) {
    background-image: url(../img/main/17.\ 아워스토리즈2.jpg);
  }
  .stories > div:nth-of-type(3) {
    background-image: url(../img/main/18.\ 아워스토리즈3.jpg);
  }
  .stories > div:nth-of-type(4) {
    background-image: url(../img/main/19.\ 아워스토리즈4.jpg);
  }
  .stories > div .stories-title {
    padding: 0 20px;
    color: white;
    line-height: 1.5;
    font-weight: 500;
    font-size: 17px;
  }
  .stories > div .stories-tag {
    background-color: #ff8200;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    margin: 20px;
  }
  .banner {
    width: 500px;
    height: 140vw;
    margin: 100px auto;
    background-color: #f8e8da;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .banner .banner-col {
    width: 100%;
    padding: 60px 30px;
  }
  .banner .banner-col > p {
    width: 80%;
    font-weight: 500;
    font-size: 25px;
  }
  .banner > img {
    position: absolute;
    top: 55%;
    right: 0%;
  }
  .b-title {
    width: 80%;
    font-weight: 900;
    font-size: 80px;
    margin: 0 0 30px 0;
    line-height: 0.9;
  }
}