:root {
    --black: #000;
    --black0e: #0e111f;
    --navy00: #000e59;
    --navy06: #06135d;
    --navy26: #263482;
    --blue00: #0066ff;
    --blue84: #84b5ff;
    --gray40: #404f65;
    --gray58: #58687f;
    --gray97: #9799a5;
    --gray9f: #9fa9da;
    --graya2: #a2a6bd;
    --graya9: #a9b6ca;
    --grayb4: #b4b9d7;
    --grayd3: #d3e4ff;
    --grayce: #cedef6;
    --graycf2: #cfd2e3;
    --graycf: #cfd6e0;
    --graydc: #dcdfff;
    --grayd9: #d9d9d9;
    --graye2: #e2edff;
    --grayee: #eeefff;
    --grayeb: #ebedf0;
    --grayf2: #f2f2f2;
    --grayf8: #f8f8f8;
    --white: #ffffff;
    --redf6: #f66747;
    --redc5: #c52222;
  }
  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
  }
  .m0auto {
    margin: 0 auto;
    max-width: 147rem;
    min-width: 147rem;
  }
  .mt-1 {
    margin-top: -0.1rem;
  }
  .mt8 {
    margin-top: 0.8rem;
  }
  .mt12 {
    margin-top: 1.2rem;
  }
  .mt15 {
    margin-top: 1.5rem;
  }
  .mt16 {
    margin-top: 1.6rem;
  }
  .mt22 {
    margin-top: 2.2rem;
  }
  .mt24 {
    margin-top: 2.4rem;
  }
  .mt25 {
    margin-top: 2.5rem;
  }
  .mt28 {
    margin-top: 2.8rem;
  }
  .mt29 {
    margin-top: 2.9rem;
  }
  .mt39 {
    margin-top: 3.9rem;
  }
  .mt42 {
    margin-top: 4.2rem;
  }
  .mb24 {
    margin-bottom: 2.4rem;
  }
  .mr4 {
    margin-right: 0.4rem;
  }
  .pt18 {
    padding-top: 1.8rem;
  }
  .pt22 {
    padding-top: 2.2rem;
  }
  .pt24 {
    padding-top: 2.4rem;
  }
  .pt27 {
    padding-top: 2.7rem;
  }
  .pt34 {
    padding-top: 3.4rem;
  }
  .pt40 {
    padding-top: 4rem;
  }
  .pt48 {
    padding-top: 4.8rem;
  }
  .pt59 {
    padding-top: 5.9rem;
  }
  .pt63 {
    padding-top: 6.3rem;
  }
  .pt73 {
    padding-top: 7.3rem;
  }
  .pt80 {
    padding-top: 8rem;
  }
  .pt90 {
    padding-top: 9rem;
  }
  .pb24 {
    padding-bottom: 2.4rem;
  }
  .px16 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .gap8 {
    gap: 0.8rem;
  }
  .gap16 {
    gap: 1.6rem;
  }
  .gap24 {
    gap: 2.4rem;
  }
  .gap35 {
    gap: 3.5rem;
  }
  
  .header {
    position: relative;
    z-index: 100;
    background: var(--white);
    min-width: 147rem;
  }
  .header .shadow {
    box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.12);
    width: 100%;
  }
  .header > div {
    height: 6.9rem;
  }
  .header__logo {
    display: inline-block;
    width: 20rem;
    line-height: 6.9rem;
    margin-left: -1.6rem;
  }
  .header__logo a {
    display: flex;
    align-items: center;
    height: 6.9rem;
    box-sizing: border-box;
  }
  .header__logo img {
    display: block;
    margin: 0 auto;
  }
  .header__btn {
    gap: 1.6rem;
  }
  .btn {
    padding: 0.9rem 2rem;
    background: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-align: center;
  }
  .btn.line {
    border: 0.1rem solid var(--blue00);
    color: var(--blue00);
  }
  .btn.round {
    border-radius: 0.4rem;
  }
  .btn.white {
    border: 0.1rem solid var(--graydc);
  }
  .btn.ico1 {
    display: flex;
    gap: 0.8rem;
  }
  .btn.ico1::before {
    display: block;
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    background: url(../images/ico_logout.svg) no-repeat center / contain;
  }
  .btn.ico2 {
    display: flex;
    gap: 0.8rem;
  }
  .btn.ico2::before {
    display: block;
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    background: url(../images/ico_list.svg) no-repeat center / contain;
  }
  .btn.ico3 {
    display: flex;
    gap: 0.8rem;
  }
  .btn.ico3::before {
    display: block;
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    background: url(../images/ico_refund.svg) no-repeat center / contain;
  }
  .btn.blue {
    background: var(--blue00);
    color: var(--white);
  }
  .btn.gray {
    background: var(--graydc);
    color: var(--navy00);
  }
  .btn.small {
    border: 0.1rem solid var(--graydc);
    padding: 0.5rem 1.3rem;
    border-radius: 0.4rem;
    transition: 0.3s;
    font-size: 1.2rem;
    color: var(--navy00);
  }
  .btn.small:hover {
    background: var(--blue00);
    color: var(--white);
  }
  .btn.small.gray {
    background: var(--graydc);
  }
  .btn2 {
    padding: 1.5rem;
    color: var(--navy00);
    font-size: 2rem;
    font-weight: 700;
  }
  .btn2.large {
    width: 100%;
  }
  .btn2.gray {
    background: var(--graydc);
  }
  .btn2.blue {
    background: var(--blue00);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 160%;
  }
  .btn2.round {
    border-radius: 0.4rem;
  }
  .btn2.left {
    text-align: left;
  }
  .main {
    display: flex;
    min-height: calc(100vh - 6.9rem);
  }
  .sidebar {
    display: block;
    position: relative;
    width: 24rem;
    background: var(--white);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
    padding-top: 3.2rem;
  }
  .sidebar__list {
    position: sticky;
    top: 3.2rem;
    width: 100%;
    background: var(--white);
  }
  .sidebar__list li .btn-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--navy00);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.4rem 1.6rem;
  }
  .sidebar__list li .btn-menu.active,
  .sidebar__list li .btn-menu:hover {
    background: var(--grayee);
  }
  .sidebar__list li .btn-menu.ico1::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/ico_home.svg) no-repeat center / contain;
  }
  .sidebar__list li .btn-menu.ico2::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/ico_member.svg) no-repeat center / contain;
  }
  .sidebar__list li .btn-menu.ico3::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/ico_payment.svg) no-repeat center / contain;
  }
  .sidebar__list li .btn-menu.ico4::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/ico_product.svg) no-repeat center / contain;
  }
  .sidebar__list li .btn-menu.ico5::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/ico_doc.svg) no-repeat center / contain;
  }
  .sidebar__list li .btn-menu.ico6::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/ico_ad.svg) no-repeat center / contain;
  }
  .sidebar__list li .btn-menu.ico7::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/ico_board.svg) no-repeat center / contain;
  }
  .sidebar__list li .btn-menu.ico8::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/ico_setting.svg) no-repeat center / contain;
  }
  .content {
    width: 100%;
    padding: 4.8rem 1.6rem 4.8rem 4.8rem;
    box-sizing: border-box;
  }
  .heading {
    color: var(--navy00);
    font-style: normal;
  }
  .heading.large {
    font-size: 2.4rem;
    line-height: 130%;
    font-weight: 800;
  }
  .heading.large2 {
    font-size: 2rem;
    font-weight: 800;
  }
  .heading.regular {
    color: var(--blue00);
    font-size: 2rem;
    font-weight: 800;
    line-height: 150%;
  }
  .heading.small {
    color: var(--navy00);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 160%;
  }
  .heading.navy {
    color: var(--navy00);
  }
  .heading.gray {
    color: var(--graya2);
  }
  .heading.bold {
    font-weight: bold;
  }
  .heading.ico1 {
    display: flex;
    gap: 0.8rem;
  }
  .heading.ico1::before {
    content: "";
    width: 1.2rem;
    height: 0.7rem;
    background: url(../images/ico_angle.svg) no-repeat center / contain;
    margin-top: 0.7rem;
  }
  
  .tab-type1 {
    display: flex;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.07), 0px 7px 14px 0px rgba(65, 69, 88, 0.1);
    border-radius: 0.4rem;
    overflow: hidden;
  }
  .tab-type1 li + li {
    border-left: 0.1rem solid var(--grayeb);
  }
  .tab-type1 button {
    display: block;
    background: var(--white);
    color: var(--navy00);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    padding: 0.8rem 1.2rem;
    transition: 0.3s;
  }
  .tab-type1 button.active,
  .tab-type1 button:hover {
    background: var(--grayee);
  }
  .dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
  }
  .dashboard li {
    background: var(--white);
    padding: 2rem 2.2rem;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.07), 0px 7px 14px 0px rgba(65, 69, 88, 0.1);
    border-radius: 0.4rem;
  }
  .dashboard__txt {
    color: var(--navy00);
    font-size: 1.8rem;
    font-weight: 600;
  }
  .table-type1 {
    width: 100%;
  }
  .table-type1 thead {
    background: var(--grayf2);
    height: 4.8rem;
  }
  .table-type1 th {
    color: var(--navy00);
    font-size: 1.4rem;
    font-weight: 600;
  }
  .table-type1 tbody {
    background: var(--white);
  }
  .table-type1 tbody tr {
    transition: 0.3s;
  }
  .table-type1 tbody tr:hover {
    background: var(--grayee);
  }
  .table-type1 tbody tr + tr {
    border-top: 0.1rem solid var(--grayf2);
  }
  .table-type1 td {
    color: var(--navy00);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.7rem;
    text-align: center;
    height: 5.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.8rem;
  }
  .table-type1 td:first-child {
    padding: 0;
  }
  .table-type1 td.phone {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
  }
  .table-type1 td.phone img {
    width: 2.5rem;
  }
  .table-type1 td.blue {
    color: var(--blue00);
    font-weight: 700;
  }
  .table-type1 td.black {
    color: var(--navy00);
    font-weight: 700;
  }
  .table-type1 td.red {
    color: var(--redc5);
    font-weight: 700;
  }
  .table-type1.advertisement tr,
  .table-type1.board tr {
    cursor: pointer;
  }
  .table-search {
    border: 0.1rem solid var(--graydc);
    border-right: 0;
    padding: 0.5rem 1.3rem;
    height: 3.2rem;
    box-sizing: border-box;
    border-radius: 0.4rem 0 0 0.4rem;
  }
  .table-search:focus {
    outline: 0.2rem solid var(--blue00);
    border-radius: 0.4rem;
  }
  .table-search + button {
    background: var(--blue00);
    color: var(--white);
    padding: 0.5rem 1.3rem;
    height: 3.2rem;
    margin-left: -1px;
    border-radius: 0 0.4rem 0.4rem 0;
  }
  .table-payment tbody tr {
    cursor: pointer;
  }
  .pagination {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
  }
  .pagination a.num {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue00);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    width: 4.3rem;
    height: 4.3rem;
  }
  .pagination a.num:hover {
    color: var(--navy00);
    font-weight: 800;
  }
  .pagination a.num.active {
    background: var(--grayf2);
    /* border-radius: 100%; */
    color: var(--navy00);
    font-weight: 800;
  }
  .pagination a.btn-arrow {
    display: block;
    width: 4.3rem;
    height: 4.3rem;
    background: url(../images/ico_arrow_blue.svg) no-repeat center / 0.9rem;
    /* border-radius: 100%; */
    border: 0.1rem solid var(--graydc);
  }
  .pagination a.btn-arrow.next {
    transform: rotate(180deg);
  }
  .pagination a.btn-arrow:hover {
    background-color: var(--graydc);
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 3.4rem;
    height: 2rem;
  }
  /* Hide default HTML checkbox */
  
  .switch input {
    display: none;
  }
  /* The slider */
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--graydc);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 3.4rem;
    height: 1.5rem;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    left: 0;
    top: -0.25rem;
  
    background-color: var(--blue00);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  input:checked + .slider {
    /* background-color: var(--grayf2); */
  }
  input:focus + .slider {
    /* box-shadow: 0 0 1px #2196f3; */
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(1.4rem);
    transform: translateX(1.4rem);
  }
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 3.4rem;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  
  .sidebar__sub {
    display: none;
    background: var(--grayf8);
  }
  .sidebar__sub.block {
    display: block;
  }
  .sidebar__sub a {
    display: block;
    color: var(--navy00);
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 4.8rem;
    padding: 0.8rem;
  }
  .sidebar__sub a:hover,
  .sidebar__sub a.active {
    color: var(--blue00);
  }
  .select:focus {
    outline: 2px solid var(--blue00);
  }
  .select.small {
    padding: 0.5rem 2.6rem 0.5rem 1.3rem;
    border: 0.1rem solid var(--graydc);
    border-radius: 0.4rem;
    color: var(--navy00);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.9rem;
    background: url(../images/ico_arrow_down.svg) no-repeat right 1.3rem center / 0.9rem;
  }
  .input-wrap1 {
    max-width: 86.3rem;
  }
  .input-wrap1 > div {
    width: 100%;
  }
  .input-type1 {
    color: var(--navy00);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
    width: 100%;
    border: 0.1rem solid var(--graydc);
    padding: 1.3rem 1.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem !important;
  }
  .input-type1:focus {
    outline: 0.2rem solid var(--blue00);
  }
  .input-type1.write:focus {
    outline: 0;
  }
  .input-type1.ico-kakao {
    background: url(../images/ico_phone_kakao.svg) no-repeat right 1.6rem center / 2.5rem;
  }
  .input-type1.ico-general {
    background: url(../images/ico_phone_general.svg) no-repeat right 1.6rem center / 2.5rem;
  }
  .input-type1.file {
    display: none;
  }
  .input-type1.file + label {
    display: block;
  
    color: var(--navy00);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
    border: 0.1rem solid var(--graydc);
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    padding: 1.3rem 1.6rem;
  }
  .input-type1.radius {
    border-radius: 0.8rem 0.8rem 0 0 !important;
  }
  
  .select-type1 {
    display: block;
    color: var(--navy00);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
    width: 100%;
    border: 0.1rem solid var(--graydc);
    padding: 1.3rem 1.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem !important;
    background: url(../images/ico-down-gray1.svg) no-repeat right 1.6rem center / 2.4rem;
  }
  .select-type1:focus {
    outline: 0.2rem solid var(--blue00);
  }
  .select-type2 {
    display: block;
    border: 1px solid var(--graydc);
    padding: 5px 33px 5px 13px;
    border-radius: 0.4rem;
    color: var(--navy00);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.9rem;
    text-align: center;
    background: url(../images/ico_arrow_down_navy.svg) no-repeat right 13px center / 12px;
  }
  
  .txt-type1 {
    color: var(--navy00);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 160%;
  }
  .txt-type2 {
    color: var(--navy00);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 160%;
  }
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    max-width: 285px;
    border: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border-radius: 10px;
    z-index: 400;
  }
  .dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
  }
  .textarea-type1 {
    width: 100%;
    resize: none;
    height: 18.4rem;
    border-radius: 0.8rem;
    border: 1px solid var(--graydc);
    padding: 1.6rem;
    background: var(--white);
    color: var(--navy00);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
  }
  .textarea-type2 {
    width: 100%;
    resize: none;
    height: 45rem;
    border-radius: 0.8rem;
    border: 1px solid var(--graydc);
    padding: 1.6rem;
    background: var(--white);
    color: var(--navy00);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
  }
  .textarea-type1:focus {
    outline: 0.2rem solid var(--blue00);
  }
  .textarea-type2.radius {
    border-radius: 0 0 0.8rem 0.8rem;
  }
  .textarea-type2.write:focus {
    outline: 0;
  }
  .view-wrap1 {
    max-width: 86.3rem;
  }
  .view-wrap1 > div {
    width: 100%;
  }
  .check-type1 {
    width: 100%;
  }
  .attach-pic-list .img_bx {
    width: 23.6rem;
    height: 11.8rem;
    background-color: #ddd;
  }
  .attach-pic-list .img_bx img {
    object-fit: cover;
    width: 23.6rem;
    height: 11.8rem;
  }
  .check-type1__input + label {
    color: var(--navy00);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
    padding-left: 0.8rem;
  }
  .check-type1__input + label > a {
    color: var(--blue00);
    text-decoration: underline;
  }
  /* .check-type1__input + label {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/ico_check_off.svg) no-repeat center / contain;
  }
  .check-type1__input:checked + label {
    background: url(../images/ico_check_off.svg) no-repeat center / contain;
  } */
  .chk-list {
    color: var(--navy00);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
  }
  .chk-list a {
    color: var(--blue00);
    text-decoration: underline;
  }
  .dialog {
    position: fixed;
    width: 90%;
    max-width: 44.8rem;
    border: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border-radius: 10px;
    z-index: 400;
    background: var(--white);
    overflow: hidden;
  }
  .dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
  }
  .dialog__content {
    height: 50vh;
  }
  .dialog__header {
    background: var(--navy00);
    color: var(--white);
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 160%;
    padding: 1.6rem 1.8rem;
  }
  
  .dialog__table th {
    color: #000e59;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 85% */
    padding: 1.4rem;
    background: var(--grayf2);
  }
  .dialog__table tbody tr:last-child td {
    padding-bottom: 20px;
  }
  .dialog__table tbody td {
    padding-top: 2.4rem;
  }
  .dialog__table td {
    color: #000e59;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 85% */
    text-align: center;
  }
  .dialog1 .btn-close {
    width: 24px;
    height: 24px;
    background: var(--white) url(../images/ico_close.svg) no-repeat center / contain;
  }
  .scroll-y {
    overflow-y: auto;
    /* width: 100%;
    height: 100%; */
  }
  .scroll-y::-webkit-scrollbar {
    width: 6px;
    height: 100%;
  }
  .scroll-y::-webkit-scrollbar-thumb {
    background-color: #9299a2;
    border-radius: 8px;
  }
  .scroll-y::-webkit-scrollbar-track {
    background-color: #ddd !important;
    border-radius: 8px !important;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .product-info {
    display: flex;
    gap: 10rem;
  }
  .product-info__img {
    width: 30.6rem;
    height: 23.8rem;
    background: #ddd;
  }
  .product-info__txt {
  }
  .text-type1 {
    color: var(--graya2);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
  }
  .price-total__content {
    display: grid;
    grid-template-columns: 12rem 1fr;
    gap: 2.8rem;
  }
  .faq-list li + li {
    margin-top: 1.6rem;
  }
  .faq-list li a {
    display: block;
    color: var(--navy00);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 160%;
    box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
    padding: 1.6rem 2.4rem;
    border-radius: 0.8rem;
  }
  .faq-list li a.ico1 {
    display: flex;
    justify-content: space-between;
  }
  .faq-list li a.ico1::after {
    display: block;
    content: "";
    width: 2rem;
    height: 2rem;
    background: url(../images/ico_arrow_down_black.svg) no-repeat center / contain;
  }
  .faq-list__answer {
    display: none;
    padding: 1.2rem 1.4rem 2.1rem;
    box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
    margin-top: 1.6rem;
  }
  .btn-type1 {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 0.6rem;
    box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
    background: var(--white);
  }
  .btn-type1.ico1::after {
    content: "";
    width: 2rem;
    height: 2rem;
    background: url(../images/ico_save.svg) no-repeat center / contain;
  }
  .btn-type1.ico2::after {
    content: "";
    width: 2rem;
    height: 2rem;
    background: url(../images/ico_write.svg) no-repeat center / contain;
  }
  hr.border {
    border: 1px solid var(--graydc);
  }
  
  .table-sortable th {
    cursor: pointer;
  }
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }
  
  .table-sortable .th-sort-asc::after,
  .table-sortable .th-sort-desc::after {
    margin-left: 5px;
  }
  
  /* .table-sortable .th-sort-asc,
  .table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
  } */
  